@model EventTicketOffer

<form asp-controller="Home" asp-action="SaveOfferEventTicket" method="post">

        <div class="form-group">
            <label asp-for="id">id</label>
            <input asp-for="id" value="@Model.id" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="type">type</label>
            <input asp-for="type" value="@Model.type" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="bid">bid</label>
            <input asp-for="bid" value="@Model.bid" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="available">available</label>
            <input asp-for="available" value="@Model.available" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="url">url</label>
            <input asp-for="url" value="@Model.url" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="price">price</label>
            <input asp-for="price" value="@Model.price" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="currencyId">currencyId</label>
            <input asp-for="currencyId" value="@Model.currencyId" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="categoryId">categoryId</label>
            <input asp-for="categoryId" value="@Model.categoryId" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="categoryIdType">categoryIdType</label>
            <input asp-for="categoryIdType" value="@Model.categoryIdType" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="picture">picture</label>
            <input asp-for="picture" value="@Model.picture" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="delivery">delivery</label>
            <input asp-for="delivery" value="@Model.delivery" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="localDeliveryCost">localDeliveryCost</label>
            <input asp-for="localDeliveryCost" value="@Model.localDeliveryCost" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="name">name</label>
            <input asp-for="name" value="@Model.name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="place">place</label>
            <input asp-for="place" value="@Model.place" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="hall">hall</label>
            <input asp-for="hall" value="@Model.hall" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="hallPlan">hallPlan</label>
            <input asp-for="hallPlan" value="@Model.hallPlan" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="hallPart">hallPart</label>
            <input asp-for="hallPart" value="@Model.hallPart" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="date">date</label>
            <input asp-for="date" value="@Model.date" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="isPremiere">isPremiere</label>
            <input asp-for="isPremiere" value="@Model.isPremiere" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="isKids">isKids</label>
            <input asp-for="isKids" value="@Model.isKids" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="description">description</label>
            <input asp-for="description" value="@Model.description" class="form-control" readonly />
        </div>

        <div class="col d-grid">
            <input type="submit" class="btn btn-primary m-2" value="Сохранить в Базу Данных" />
        </div>
    </form>
    <div class="col d-grid">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary m-2">Назад</a>
    </div>
